set default=0
set timeout=5

menuentry "CodixOS" {
    set root=(cd)
    multiboot /boot/codixos.bin
    boot
}

menuentry "CodixOS (VGA text mode)" {
    set root=(cd)
    multiboot /boot/codixos.bin vga=text
    boot
}

menuentry "CodixOS (Serial console)" {
    set root=(cd)
    multiboot /boot/codixos.bin console=ttyS0,115200
    boot
}
